# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Env
.env
.env.local

# Notebooks
.ipynb_checkpoints/

# Results (keep folder, ignore content)
results/*
!results/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
